.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  height: 40px;
  padding: 0 12px;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: border-color 0.25s;

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &[data-variant='primary'] {
    background-color: var(--color-primary);
  }

  &[data-variant='secondary'] {
    color: var(--color-primary);
    background-color: transparent;
    border-color: var(--color-primary);
  }

  svg {
    display: block;
  }
}
